services:
  mongo:
    image: mongo:latest
    container_name: "laia_mongo"
    logging:
      options:
        max-size: 1g
    environment:
      MONGO_INITDB_ROOT_USERNAME: "laia"
      MONGO_INITDB_ROOT_PASSWORD: "laia"
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    networks:
      - local
    restart: always


volumes:
  mongo_data:


networks:
  local:
    driver: bridge